<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-test</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./src/assets/reset.min.css">
  <style type="text/css">
    .del {
      color: #f2f2f2;
      text-decoration: line-through;
    }
    .active{
      background-color: #11c900;
    }
  </style>
</head>
<body>
<div id="app">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          todoList
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" :class="{active:hash=='all'}"><a href="#/all">全部任务</a></li>
      <li role="presentation" :class="{active:hash=='finished'}"><a href="#/finished">已完成</a></li>
      <li role="presentation" :class="{active:hash=='unfinished'}"><a href="#/unfinished">未完成</a></li>
    </ul>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <p class="h3">亲，你有{{count}}件事要完成</p>
        <input type="text" @keyup.enter="add" v-model="info">
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"
              v-for="(todo ,index) in filterTodos"
              @dblclick="remember(todo)">
            <input type="checkbox" v-model="todo.isSelected">
            <span v-show="todo!==cur" :class="{del:todo.isSelected}">
              {{todo.info}}
            </span>
            <input type="text"
                   v-show="todo==cur"
                   v-model="todo.info"
                   @keyup.enter="cancel" @blur="cancel"
                   v-focus="todo==cur">
            <button class="btn btn-danger pull-right btn-xs" @click="remove(todo)">&xotime;</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/axios/dist/axios.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="todo.js"></script>
<script type="text/javascript">


  /*  let vm = new Vue({
   el: "#app",
   data: {
   val: "",
   tips: "",
   toggle: true,
   products: []
   },
   created(){
   this.getData()
   },
   computed: {
   /!*tips: {// 读取和设置
   get: function () {
   return
   ...
   ;
   },
   set: function (v) {
   this.tips = v;
   }
   },
   tips(){
   if (this.val && this.val != 2) {
   return '错误，请重新输入'
   }
   },*!/
   selectAll: {
   get(){
   return this.products.every(item => item.isSelected)
   },
   set(val){
   this.products.forEach(item => item.isSelected = val)
   }
   },
   sum(){
   return this.products.reduce(
   function (prev, next) {
   if (!next.isSelected) {
   return prev
   }
   return prev + next.price * next.count
   }, 0)
   }
   },
   watch: {
   val(newVal, oldVal){
   this.tips = '请输入...';//中间状态
   setTimeout(function () {
   if (newVal != 2) {
   vm.tips = "错误，请重新输入"
   } else {
   vm.tips = "ok"
   }
   }, 1000)
   }
   },
   methods: {
   getData(){//初始化方法
   axios.get("./carts.json")
   .then(function (res) {
   this.products = res.data
   })
   .catch(function (err) {
   })
   //上述使用this会报错，因为回调中的this指向window，而我们希望this指向vue实例，改成箭头函数即可
   axios.get("./carts.json")
   .then(res => {
   this.products = res.data
   })
   .catch(err => {
   })
   },
   delect(p){
   this.products = this.products.filter(item => item != p)
   }
   },
   filters: {
   toFixed(res, n){
   return '￥' + res.toFixed(n)
   }
   }
   })*/


</script>
</body>
</html>
